{
  "openapi": "3.0.1",
  "info": {
    "title": "SurvivalBoomPrivate",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sbp.survivalboom.net/"
    },
    {
      "url": "http://188.40.152.222:8081/"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "summary": "Логин пользователя",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный вход",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный логин или пароль"
          },
          "401": {
            "description": "Неавторизован"
          }
        },
        "tags": ["auth"]
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "Выход пользователя",
        "responses": {
          "200": {
            "description": "Успешный выход",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "tags": ["auth"]
      }
    },
    "/api/post/": {
      "get": {
        "summary": "Получить все посты",
        "responses": {
          "200": {
            "description": "Список постов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostDTO"
                  }
                }
              }
            }
          }
        },
        "tags": ["post"]
      },
      "post": {
        "summary": "Создать пост",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Пост создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostEntity"
                }
              }
            }
          }
        },
        "tags": ["post"],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/post/{id}": {
      "get": {
        "summary": "Получить пост по ID",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDTO"
                }
              }
            }
          },
          "404": {
            "description": "Пост не найден"
          }
        },
        "tags": ["post"]
      },
      "put": {
        "summary": "Обновить пост",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлённый пост",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostEntity"
                }
              }
            }
          },
          "403": {
            "description": "Нет доступа"
          },
          "404": {
            "description": "Пост не найден"
          }
        },
        "tags": ["post"],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "delete": {
        "summary": "Удалить пост",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          },
          "403": {
            "description": "Нет прав"
          },
          "404": {
            "description": "Пост не найден"
          }
        },
        "tags": ["post"],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/post/{id}/like": {
      "post": {
        "summary": "Лайкнуть или убрать лайк с поста",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус лайка"
          }
        },
        "tags": ["post"],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/post/{id}/dislike": {
      "post": {
        "summary": "Дизлайкнуть или убрать дизлайк",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус дизлайка"
          }
        },
        "tags": ["post"],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/post/author/{username}": {
      "get": {
        "summary": "Получить посты пользователя",
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Посты автора",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostDTO"
                  }
                }
              }
            }
          }
        },
        "tags": ["post"]
      }
    },
    "/api/user/me": {
      "get": {
        "summary": "Получить текущего пользователя",
        "responses": {
          "200": {
            "description": "Данные пользователя",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserEntity"
                }
              }
            }
          }
        },
        "tags": ["user"],
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/user/": {
      "get": {
        "summary": "Получить список всех пользователей",
        "responses": {
          "200": {
            "description": "Список пользователей",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserEntity"
                  }
                }
              }
            }
          }
        },
        "tags": ["user"]
      }
    },
    "/api/user/{username}": {
      "get": {
        "summary": "Получить пользователя по username",
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Найден пользователь",
            "
